<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/index.css" rel="stylesheet" type="text/css">
    <title>Gerenciador de Tarefas em Grupo</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Dashboard</li>
                <li>Novo grupo</li>
                <li>Hoje</li>
            </ul>
        </nav>
        <div class="user-area">
            <div class="notification-container">
                <%- include ('../src/images/bell_icon.svg') %>
            </div>
            <div class="user-info">
              
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>